version: '2.1'
services:
  db:
    image: mysql:8.0.12
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - 3306:3306
    networks:
      - ufinity
    environment:
        - MYSQL_ROOT_PASSWORD=ppshein123456
        - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
        test: "exit 0"
  node:
    build: ./app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 3000:3000
    networks:
      - ufinity
networks:
  ufinity: